.mensajeCompra{
    margin:15px;
    display: flex;
    justify-content: center;
    align-items: center;
    row-gap:30px;
    flex-direction: column;
    padding: 5px;

}

.textoMensajeCompra{
    font-size: 48px;
    font-weight: 100;
    text-align: center;
    font-family: "Lemonada";
}


.itemNc{
    max-width: 570px;
    min-width: 570px;
    padding: 3px;
    margin: 0px;
    display:flex;
    column-gap: 15px;
    justify-content: flex-start;
    border: none;
}

.itemImgC{
    width: 100px;
}

.contenedorDescrip{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    row-gap: 5px;
}

.tituloDesc{
    font-size: 24px;
    font-weight: 500;
}

.contenedorCant{
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 5px;
    position: relative;
}

.tituloCant{
    padding-top: 10px;
    font-size: 24px;
    font-weight: 500;
    text-align: center;
}

.contenedorImporte{
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:flex-end;
    row-gap: 5px;
}
.tituloImporte{
    padding-top: 10px;
    font-size: 24px;
    font-weight: 600;
    text-align: right;
}

.derecha{
    text-align: right;
    font-size: 24px;
    font-weight: 500;
}

.tFooter{
    border: 0px white;
}
.titleForm{
    align-items: center;
}

.btnForm{
    margin-top: 40px;
    width: 200px;
    margin: 1rem;
    padding: 0.5rem;
    background-color: #E1CCC7;
    border-color: #E1CCC7;
    font-weight: 800;
}
.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem

   
}

input{
    width: 65%;
    margin-left: 0%;
    margin-right: 0%;
}
.divBtnForm{
    display: flex;
}
.modal-custom{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding-top: 4rem;}

.idOrder{
    font-size: 27px;
}
thead{
    background-color: #E1CCC7;
}
tbody{
    background-color: #F5EEE8;
}
.btn-trush{
    background-color: #B78E80;
    border: none;
    color: #F5EEE8;
    font-size: 20px;
    font-weight: 700;
    padding: 2px 7px;
    position: absolute;
    top: 0rem;
    right: 0rem;

}
td{
    margin-bottom: 1rem;
    font-size: 24px;
}
tr{
    text-align: end;
}

.buttonSize{
    background-color: #BC8F8F;
    font-size: 20px;
    padding: 0.5rem 5px;
    color: #F5EEE8;
    border-width: 0px;
}

.buttonSize:hover{
    background-color: #F5EEE8;
    color: #B78E80;
    font-weight: 600;
    border: none;
}
.total{
    font-size: 30px;
    font-family: "Lemonada";
    font-weight: 500;
}