.countDiv{
    display: flex;
    gap: 0.8rem;
    margin-bottom: 1rem;
}

.itemDetailDivImg{
    width: 500px;
    height: 500px;

}
.itemDetailImg{
    width: 100%;
    height: 100%;
}
.ItemDetailDiv{
    display: flex;
    gap: 5rem;
}
.countDiv{
    width: 30px;
}