.ItemDetailContainer{
    display: flex;
    gap: 5rem;
    align-items: center;
    justify-content: center;
    font-size: 23px;

        .itemDetailDiv{
            display: flex;
            flex-direction: column;
            justify-items: center;
            align-items: center;

        }

        .itemDetailDivImg{
            width: 500px;
            height: 500px;
            margin-left: 2rem;
    
            .itemDetailImg{
                height: 100%;
            }
        }
    
}

.spanDetailPrice{
    font-size: 50px;
    font-weight: 700;
    color: #B78E80;
}
.botonTerminarCompra{
    background-color: #BC8F8F;
    box-shadow: 6px 6px 23px -6px rgba(188,143,143,0.75);
    margin-left: 2rem;
    font-size: 20px;
    padding: 0.5rem;
    color: #F5EEE8;
    border-width: 0px;
}

.titleItem{
    font-family:'Lemonada', cursive;
    font-size: 48px;
}
.subtitleItem{
    font-family: 'Lemonada', cursive;
    font-weight: 700;
    text-decoration: underline;
    margin-bottom: 2rem;
    margin-top: 3rem;
}
.pIcon{
    margin-top: 10px;
}
.btn-mas{
    border:none;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 3px;
    transition: all 0.25s ease-in;
    display: block;
    margin: 0 auto;
    margin-top: 1rem;
    border-radius: 4%;
    background-color: #F5EEE8;
    color: #BC8F8F;
}

.btn-mas:hover{
    background-color:#fff;
    color:#BC8F8F;
    border-color: #BC8F8F;
    border: solid 2px;
    padding: 10px 15px;
}