.listProducts{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.containerListProducts{
    font-family: 'Lemonada', cursive;
    font-size: 15px;
    color: #3a0c0c;
}
.p:hover{
    text-decoration: none;
}
.titleSectionCategory{
    text-align: center;
    margin-bottom: 3rem;
    font-size: 60px;
}

.linkCount{
    text-decoration: none;
}