.cartLink{
    text-decoration: none;
    color: black;
    .cartLink:active{
        color: aqua;
    }
}
.itemProduct{
    width: 250px;
    display: flex;
    flex-direction: column;
    text-align: center;
    box-shadow: 1px 1px 5px #B78E80;
    text-decoration: none;

    a:-webkit-any-link {
        cursor: pointer;
        text-decoration: none;
    }

    .itemProduct:visited{
        text-decoration: none;
    }

    
    span{
        color: #BC8F8F;
        font-weight: 700;
    }
    .imgProduct{
        width: 100%;
    }
    button{
        margin-top: 10px;
        padding: 5px;
        background-color: #E1CCC7;
        border: solid 1px #E1CCC7;
    }
}