@import url('https://fonts.googleapis.com/css2?family=Rubik+Marker+Hatch&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lemonada&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Homemade+Apple&display=swap');
.titleHome{
    font-size: 92px;
    text-align: right;
    transform: rotate(-16deg);
    font-family: "Rubik Marker Hatch", cursive;
    position: absolute;
    margin-left: 21rem;
    margin-top: 54rem;
    color: #B78E80;
    font-family: "Homemade Apple", cursive;
}
.sectionHome{
    margin-left: 3rem;
}

.imgHome {
    border-radius: 5%;
    width: 90vw;
}

.pHome {
    position: relative;
    top: -52rem;
    font-size: 40px;
    left: 7rem;
    width: 50%;
    border-radius: 10%;
    color: #3a0c0c;
    font-weight: 900;
    font-family: 'Lemonada', cursive;
}

//contact
.titleContact{
    font-family: 'Lemonada', cursive;
    text-align: center;
}
.form-control {
    display: block;
    padding: 12px;
    font-size: 16px;
    border: 1px solid #B78E80;
    width: 100%;
    background-color: #F5EEE8;
}
.form-group{
    width: 100%;
    
}
.list-unstyled{
    list-style: none;
}
.list-unstyled:hover{
    color: #B78E80;
}
.btn-primary {
    background-color:#B78E80;
    color: #fff;
    border-color:#B78E80;
    font-size: 16px;
    letter-spacing: 7px;
    transition: all 0.25s ease-in;
    display: block;
    margin: 0 auto;
    padding: 15px 20px 15px 20px;
    width: 200px;
}

.btn-primary:hover:not(.btn-transition){
    background-color:#fff;
    color:#B78E80;
    border-color: #B78E80
}
.list-unstyled {
    padding: 0;
    margin: 1rem;
    text-decoration: none;
    color: #3a0c0c;
    font-weight: 600;
}

//Terminar Compra
.botonesCompra{
    display: flex;
    gap: 15px;
}
.buttonComp{
    background-color:#B78E80;
    color: #fff;
    border-color:#B78E80;
    font-size: 16px;
    letter-spacing: 7px;
    transition: all 0.25s ease-in;
    display: block;
    margin: 0 auto;
    padding: 15px 20px 15px 20px;
}

.buttonComp:hover{
    background-color:#fff;
    color:#B78E80;
    border-color: #B78E80
}

.buttonSize{
    width: 180px;
}