@import url('https://fonts.googleapis.com/css2?family=Rubik+Marker+Hatch&display=swap');

.titleHome{
    font-size: 84px;
    text-align: right;
    transform: rotate(90deg);
    font-family: 'Rubik Marker Hatch', cursive;
    position: absolute;
    margin-left: 772px;
    margin-top: 263px;
    color: #B78E80;
}
.imgHome{
    border-radius: 5%;
    margin-left: 2rem;
}

.pHome{
    font-size: 25px;
    margin-top: 2rem;
}