.button{
    margin-top: 10px;
    padding: 5px;
    background-color: #E1CCC7;
    border: solid 1px #E1CCC7;
}

.btn-react{
    font-family: Tahoma, sans-serif;
    font-size: larger;
    font-weight: 400;
    color: #F5EEE8;
    padding: 0.5rem;
    margin: 0.5rem; 
    background-color: #B78E80;
    border-radius: 10%;
}